.index {
	padding-bottom: 50px;
	//头部搜索
	.swiper {
		position: relative;
	}

	//导航部分
	.nav {
		padding: 10px 0;
		.am-flexbox-item {
			text-align: center;
		}
		img {
			height: 48px;
		}
		p {
			padding: 5px 0;
		}
	}
	//租房小组
	.group {
		padding: 0 10px;
		background-color: #eee;
		.title {
			padding: 15px 10px;
			overflow: hidden;
			h3 {
				float: left;
			}
			.more {
				float: right;
			}
		}
		//组件
		.grid {
			padding-bottom: 10px;
			.grid-flex {
				.el-title {
					p {
						color: #999;
						font-size: 12px;
						padding: 8px 0;
					}
				}
				img {
					width: 55px;
					height: 53px;
				}
			}
			.am-flexbox {
				margin-bottom: 10px;
				background-color: transparent;
				.am-grid-item {
					background-color: #fff;
					&:first-child {
						margin-right: 10px;
					}
				}
			}
		}
	}
	//最新资讯
	.news {
		padding: 0 10px;
		h3 {
			display: block;
			padding: 10px;
			padding-left: 15px;
		}
		.news-item {
			overflow: hidden;
			padding: 15px 10px;
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
			.imgbox {
				float: left;
				img {
					width: 120px;
					height: 90px;
					display: block;
				}
			}
			.content {
				overflow: hidden;
				height: 100%;
				padding-left: 12px;
				.title {
					margin-bottom: 42px;
					font-size: 14px;
				}
				.bottom {
					width: 100%;
					color: #999;
				}
			}
		}
	}
}
